/* fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

/* Vendor styles */
@import "vendors/bootstrap/scss/bootstrap";

body {
	font-family: "Roboto Condensed", sans-serif;
}

.navbar-toggler {
	color: white;
	padding-top: .75em;
}

.nav.nav-pills {
	padding-top: .5em;

	a.nav-link {
		color: white;
		font-weight: bold;

		&.active {
			background-color: #FD542D;
		}
	}
}

@include media-breakpoint-up(md) {
	.nav.nav-pills {
		float: right;
		padding-top: 0;
	}
}

.navbar-brand {
	max-height: 2em;
	max-width: 75%;

	img {
		max-height: inherit;
	}
}


@include media-breakpoint-up(md) {
	.nav-top {
		margin-top: 2em;
	}
}

.hero {
	background: url('/imgs/ipad.jpg') no-repeat center center;
	background-size: cover;

	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -10;
}