@import "vendors/bootstrap/scss/bootstrap";

.nav.nav-pills {
	padding-top: .5em;
}

@include media-breakpoint-up(md) {
	.nav.nav-pills {
		float: right;
		padding-top: 0;
	}
}

.navbar-brand {
	max-height: 2em;
	max-width: 75%;

	img {
		max-height: inherit;
	}
}


@include media-breakpoint-up(md) {
	.nav-top {
		margin-top: 2em;
	}
}