<footer>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="text-center">
          <p>
            <a class='btn btn-primary' href='https://www.facebook.com/knowmetools' target='_blank'>Visit our Facebook</a>
            <a class='btn btn-primary' href='mailto:team@knowmetools.com' target='_blank'>Send us an Email</a>
          </p>
          <p>
            {% include app-store-badge.html url="https://itunes.apple.com/us/app/know-me-profile-communication/id1051805757?ls=1&mt=8" %}
          </p>
          <p>710 Market Street, Suite 42, Chapel Hill, NC 27516</p>
        </div>
        <hr />

        <p class="legal">
          Know Me Inc offers a wide spectrum of Know Me℠ Educational Services, including communication-enhancement educational programs and training, directed to individuals with communication deficits and to persons interacting with them. These programs and training provide effective support and assistance to individuals who cannot adequately communicate their needs, wants and abilities. In connection with these services, Know Me Inc has developed and distributes a series of proprietary educational program and training materials.
        </p>

        <div class="text-center">
          <a href="/terms/">Terms of Service</a>
        </div>

        <div class="text-center">
          <a href="/privacy/">Privacy Policy</a>
        </div>

        <p class="text-center copyright">&copy; 2015<script>document.write('&mdash;' + (new Date().getFullYear()))</script> Know Me Inc</p>
      </div>
    </div>
  </div>

</footer>
