<footer>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="legal">             
          KNOW ME LLC offers a wide spectrum of KNOW ME℠ Educational Services, including
          communication-enhancement educational programs and training, directed to individuals with communication
          deficits and to persons interacting with them. These programs and training provide effective support and
          assistance to individuals who cannot adequately communicate their needs, wants and abilities. In connection
          with these services, KNOW ME LLC has developed and distributes a series of proprietary educational program
          and training materials.
        </p>

        <p class="copyright">&copy; 2015 Know Me LLC</p>
      </div>
    </div>
  </div>

</footer>
