.dropdown-menu {
	.dropdown-item.nav-item {
		margin-left: 0;
	}
}

.nav.nav-pills {
	padding-top: .5em;

	a.nav-link {
		color: white;
		font-weight: bold;
	}
}

.navbar {
	background: rgba(0, 0, 0, .7);
	border-radius: .5em;
	box-shadow: 0 0 3px 5px rgba(0,0,0,.7);
}

.navbar-brand {
	max-height: 2em;
	max-width: 75%;

	img {
		max-height: inherit;
	}
}

.navbar-toggler {
	color: white;
	padding-top: .75em;
}

/******************/
/* Responsiveness */
/******************/

@include media-breakpoint-up(md) {
	.nav.nav-pills {
		float: right;
		padding-top: 0;
	}

	.nav-top {
		margin-top: 2em;
	}
}