/* General */
$font-stack: "Roboto Condensed", sans-serif;


/* Colors */
$brand-primary: #006096;

$photo-shadow: #777;





/* Images */
$hero-height: 100vh;


/* Navigation */
$navbar-background: transparent linear-gradient(to bottom, #FFF 93%, #D5D5D5 100%) repeat scroll 0% 0%;