/* General */
$font-stack: "Roboto Condensed", sans-serif;


/* Colors */
$brand-primary: #006096;

$photo-shadow: #777;





/* Images */
$hero-height: 100vh;


/* Navigation */
$navbar-background: white;