/* fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

/* Vendor styles */
@import "vendors/bootstrap/scss/bootstrap";

/* Custom modules */
@import "modules/vars";
@import "modules/navigation";

body {
	font-family: $font-stack;
}

main {
	margin-top: 3em;
}

footer {
	margin-top: 5em;
}

.copyright, .legal {
	font-size: .8em;
}

.feature-icon {
	font-size: 6em;
	color: $brand-primary;
}

.hero {
	background: url(asset_path('screenshot.jpg')) no-repeat center center;
	background-size: cover;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -10;
}

.hero-wrapper {
	height: 100vh;
}

.team-member {
	margin: .2em 1em;
}